#####################################################################
# 	Fan Control
#####################################################################
[multi_pin PCF]
pins:EBB:PD3, EBB:PA5

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: multi_pin:PCF
kick_start_time: 0.5

[controller_fan electronics_fans]
pin:  PF8
kick_start_time: 0.75
fan_speed: 1.0
heater: extruder

[heater_fan hotend_fan]
pin: EBB:PD2
kick_start_time: 0.5
max_power: 1.0
shutdown_speed:0
tachometer_pin: EBB:PA4
tachometer_ppr: 2
tachometer_poll_interval: 0.0008 
#heater_temp: 50.0

# [fan_generic BedFans]
# pin: PF7 
# #cycle_time: 0.05
# kick_start_time: 0.5
# max_power: 1
# min_power: 0.95