#####################################################################
#   Lights
#####################################################################
## A4T LED
[neopixel headlight]
pin: EBB:PC7
chain_count: 3
color_order: GRBW

[neopixel chamber]
pin: PD15
color_order: GRBW
chain_count:18

[output_pin rled]
pin:EBB:PA2