[gcode_macro PRINT_START]
gcode:

################################
## Parameter Definitions
################################
    {% set bed_temp = params.BED|int %}
    {% set hotend_temp = params.EXTRUDER|int %}
    {% set chamber_temp = params.CHAMBER|default(0)|int %}
    {% set relative_extruder = params.RELATIVE_E_MODE|default(false)|string %}
    
    {% if printer.configfile.settings['beacon'].home_z_hop is defined %}
    {% set z_hop = printer.configfile.settings['beacon'].home_z_hop|float %}
    {% set speed = printer.configfile.settings['beacon'].home_xy_move_speed|float %}
    {% set z_hop_speed = printer.configfile.settings['beacon'].home_z_hop_speed|float %}
    {% else %}
        {% set z_hop = printer.configfile.settings['safe_z_home'].home_z_hop|float %}
        {% set speed = printer.configfile.settings['safe_z_home'].home_xy_move_speed|float %}
        {% set z_hop_speed = printer.configfile.settings['safe_z_home'].home_z_hop_speed|float %}
    {% endif %}
    

    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}
    
    G90 ;Absolute positioning
    M220 S100 ;Reset feedrate
    M221 S100 ;Reset flowrate
    {% if relative_extruder|lower == 'true' %} ;ensures extruder is in absolute mode
      M83 ;Set extruder to relative mode
    {% else %}
      M82 ;Set extruder to absolute mode
    {% endif %}

    SET_GCODE_OFFSET Z=0.0 MOVE=0  
    BED_MESH_CLEAR           


    M117 Preheating Nozzle
    RESPOND PREFIX=🔥 MSG="Heating Nozzle to: 150"
    M104 S150

    M117 Heating bed...
    RESPOND PREFIX=🔥 MSG="Heating bed to: {bed_temp}"
    M140 S{bed_temp}   
    
    M117 Homing XY
    RESPOND PREFIX=🔁 MSG="Homing XY"
    G28 X Y
    RESPOND PREFIX=✅ MSG="Homing Complete"

################################
## QGL/Bed Leveling Code
################################

    M117 Cleaning Nozzle at {hotend_temp}
    RESPOND PREFIX=🧹 MSG="Cleaning nozzle before Z calibration"
    CLEAN_NOZZLE
    RESPOND PREFIX=✅ MSG="Nozzle is good as new"

    M117 Calibrating Beacon Hot
    RESPOND PREFIX=↕️ MSG="Calibrating Beacon Model"
    G28 Z METHOD=CONTACT CALIBRATE=1
    RESPOND PREFIX=✅ MSG="Beacon Model Created"

    M117 Z Tilt
    RESPOND PREFIX=🔁 MSG="Performing Z Tilt"
    _CZTILT
    RESPOND PREFIX=✅ MSG="Z Tilt Complete"

    M117 Cleaning Nozzle at {hotend_temp}
    RESPOND PREFIX=🧹 MSG="Cleaning nozzle before Z calibration"
    CLEAN_NOZZLE
    RESPOND PREFIX=✅ MSG="Nozzle is good as new"

    M117 Calibrating Z-Offset
    RESPOND PREFIX=↕️ MSG="Calibrating Z-Offset"
    G28 Z METHOD=CONTACT CALIBRATE=0
    RESPOND PREFIX=✅ MSG="Z-Offset Found"

    M117 Scanning bed...
    RESPOND PREFIX=🔁 MSG="Creating bed mesh"
    BED_MESH_CALIBRATE ADAPTIVE=1
    RESPOND PREFIX=✅ MSG="Adaptive Bed Mesh complete"

    M117 Heating Nozzle
    RESPOND PREFIX=🔥 MSG="Heating nozzle to: {hotend_temp}"
    M109 S{hotend_temp}
    RESPOND PREFIX=✅ MSG="Nozzle now at {hotend_temp}"          
                                                                         

    {% if printer.configfile.config["gcode_macro _BEACON_SET_NOZZLE_TEMP_OFFSET"] is defined %}
        _BEACON_SET_NOZZLE_TEMP_OFFSET                                                          # Adds toolhead expansion offset
    {% endif %}

    M117 Cleaning Nozzle at {hotend_temp}
    RESPOND PREFIX=🧹 MSG="Cleaning nozzle before Z calibration"
    CLEAN_NOZZLE
    RESPOND PREFIX=✅ MSG="Nozzle is good as new"

                                                                 
    RESPOND PREFIX=↕💩 MSG="Purging"
    SQUIGGLY_PURGE LINE_MARGIN=15 ADAPTIVE_MODE=1
    
    RESPOND PREFIX=🏎️ MSG="3, 2, 1.. GO!"
    M117 Printing...
    